/* CSS Document */
.margin {
  width: 998px;
  margin: 0 auto; }

header {
  height: 67px;
  background: #333; }

header .logo {
  float: left;
  margin-top: 8px; }

header .header-r {
  float: left;
  color: #fff;
  height: 67px; }

header .header-r span {
  font: 20px/67px ""; }

header .header-r b {
  font: 23px/67px ""; }

#main {
  background: #f1f1f1; }

#main .main .main-t {
  padding-top: 29px; }

#main .main .main-t .a1 {
  display: inline-block;
  width: 99px;
  height: 26px;
  padding-left: 40px;
  padding-top: 7px;
  font: 12px/18px "";
  color: #fff;
  background: url(../images/main_reg.png) no-repeat; }

#main .main .main-t .a2 {
  display: inline-block;
  width: 99px;
  height: 26px;
  padding-left: 40px;
  padding-top: 7px;
  font: 12px/18px "";
  color: #fff;
  background: url(../images/main_reg.png) no-repeat -151px 0px; }

#main .main .main-t b {
  float: right;
  font: 12px/26px "";
  color: #333; }

#main .main .main-t b a {
  text-decoration: underline;
  color: #d70506;
  margin: 0 2px; }

#main .main .main-c {
  background: #fff;
  padding: 52px 97px 28px 97px; }

#main .main .main-c h3 {
  font-size: 28px;
  color: #000; }

#main .main .main-c .p1 {
  margin-top: 19px;
  color: #999;
  font-size: 12px; }

#main .main .main-c .p2 {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 30px; }

#main .main .main-c h5 {
  margin-top: 27px;
  font-size: 14px;
  font-weight: bold; }

#main .main .main-c h5 span {
  float: right;
  margin-right: 10px;
  font-weight: 100;
  font-size: 12px; }

#main .main .main-c .phone {
  margin-top: 30px; }

#main .main .main-c .phone span {
  margin-right: 40px;
  color: #999; }

#main .main .main-c .phone .span {
  margin-right: 16px;
  color: #999; }

#main .main .main-c .phone .put {
  width: 172px;
  height: 32px;
  padding-left: 20px;
  font-size: 12px;
  outline: none; }

#main .main .main-c .phone .put1 {
  width: 329px;
  height: 32px;
  padding-left: 20px;
  font-size: 12px;
  outline: none; }

#main .main .main-c .phone h6 {
  font-size: 12px;
  line-height: 12px;
  color: #000;
  margin: 10px 0 0 82px; }

#main .main .main-c .phone p {
  margin: 6px 0 0 82px;
  color: rgba(0, 0, 0, 0.5); }

#main .main .main-c .phone p img {
  width: 12px;
  height: 12px;
  margin-right: 4px; }

#main .main .main-c .phone h5 {
  font-size: 12px;
  line-height: 12px;
  color: #000;
  margin: 20px 0 0 82px; }

#main .main .main-c .phone .box {
  width: 361px;
  height: 3px;
  background: #E6E6E6;
  margin: 10px 0 10px 82px; }

#main .main .main-b {
  background: #fff;
  padding: 0px 97px 38px 97px; }

#main .main .main-b h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px; }

#main .main .main-b p {
  font: 12px/22px "";
  color: #000; }

#main .main .main-b p a {
  color: #00C0F4;
  text-decoration: underline; }

#main .main .main-b .p2 {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 30px; }

#main .main .zhuce {
  text-align: center;
  margin-top: 38px; }

#main .main .zhuce #btn {
  cursor: pointer;
  width: 279px;
  height: 45px;
  background: #d70506;
  border: solid 1px #9c9c9c;
  color: #FFFFFF; }

#main .xian {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 30px; }

footer {
  background: #f1f1f1; }

footer .footer {
  padding: 30px 0;
  color: #999; }

footer .footer-t {
  text-align: center;
  font-size: 14px; }

footer .footer-t a {
  font-size: 14px;
  color: #999; }

footer .footer p {
  text-align: center;
  margin-top: 10px; }

/*# sourceMappingURL=zhuce.css.map */
